@import 'fonts'
@import 'standart'




//==================== SHAPKA ШАПКА =================== 
.header
  +open

  &-wrap
    display: flex
    justify-content: space-between
    



    &_logo
      padding: 30px 30px


    &_help
      padding: 30px 30px
      


      .tel
        font-style: normal
        font-weight: 600
        font-size: 30px
        text-align: center
        color: #161A1E



      .text
        font-style: normal
        font-weight: 300
        font-size: 14px
        margin-left: 35px


      .button-msg
        font-style: normal
        font-weight: normal
        font-size: 18px
        line-height: 25px
        color: #FDD50B
        background-color: transparent   
        border: 1px solid #FDD50B
        padding: 8px 30px
        border-radius: 20px
        margin-left: 115px
        margin-top: 20px
        cursor: pointer
        



//================ MAIN ТЕЛО ===============


.main
  text-align: center
  +open


  &-img
    padding-top: 80px

  &-title
    font-style: normal
    font-weight: 300
    font-size: 48px
    color: #000000
    

  &-subtitle
    font-style: normal
    font-weight: 300
    font-size: 24px



  &-text
    padding-top: 30px
    font-style: normal
    font-weight: 300
    font-size: 14px
    line-height: 19px





//======== FOOTER ПОДВАЛ =============


.footer
  +open
  margin-top: 190px
  text-align: center







